@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=latin-ext,vietnamese');

body {
	font-family: 'Roboto', sans-serif;
}

a, a:link, a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #141414;
}

p{
	margin: 0;
}

ol, ul, ul li {
    list-style: none;
}

.d-flex{
	display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip, .popover, .daterangepicker {
	font-family: 'Roboto', sans-serif;
}

input, textarea {
	box-shadow: none;
}

.textAlign-center{
	text-align: center;
}

.paddingBottom-30{
	padding-bottom: 30px !important;
}

.modal-dialog.modal-lg {
	width: 870px;
}

.navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	height: 60px;
	font-size: 16px;
}

.navbar-brand {
	height: 40px;
    margin: 10px 0 10px 18px;
    line-height: 3px;
    font-weight: 400;
    border: 0;
    padding: 20px 7px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px #f8f9fb;
	text-transform: uppercase;
}

.navbar-nav {
	margin-left: 80px;
}

.navbar-nav > li > a {
	padding: 20px 15px;
}

.navbar-nav > li > span {
	display: block;
    padding: 0px 15px;
    color: #fff;
    line-height: 60px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

.section.banner {
	position: relative;
}

.section.banner .cover {
	height: calc(100vh - 60px);
	background-image: url('../../images/street-background-full-hd-1920x1080-492595.jpg');
	background-size: cover;
}

.section.banner .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
}

.section.banner .wrap {
	position: relative;
	top: 35%;
	transform: translateY(-50%);
}

.section.banner .content {
	width: 88%;
	margin: 0 auto;
}

.section.banner .content h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 25px;
	font-weight: bold;
}

.search_form {
	border: 1px solid #fff;
	border-radius: 40px;
	background: rgba(0,0,0,.5);
	padding: 15px 25px;
	display: flex;
	justify-content: space-between;
}

.search_form .sub_group {
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.search_form .sub_group .btn_search>span{
	display: none;
}

.search_form .group {
	position: relative;
	display: flex;
	flex: 1 1 50%;
	align-items: center;
	flex-wrap: wrap;
	font-size: 16px;
}

.search_form .group:not(:first-child) {
	padding-left: 20px;
}

.search_form .group::after {
	content: "";
	position: absolute;
	right: 0;
	width: 1px;
	height: 35px;
	background: #fff;
}

.search_form label{
	font-weight: 500
}

.search_form .datetime {
	width: 100%;
}

.search_form .datetime select{
	margin-left: 15px;
	padding: 0 5px;
}

.search_form .datetime option {
	background: rgba(0,0,0,.8);
}

.search_form label, .search_form .sub_group a, .form_container .input-group i {
	color: #28a745;
}

.search_form .btn_search {
	background: #fff;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	text-align: center;
	line-height: 35px;
}

.search_form input[type=text] {
	width: 100%;
	padding: 0 10px 0 0;
}

.search_form .date i {
	padding-left: 3px;
}

.search_form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin-left: 30px;
}

.search_form .date, .search_form select {
	cursor: pointer;
}

.search_form input[type=text], .search_form .date, .search_form select {
	background-color: unset;
	color: #fff;
	border: none;
}

.place_wrap {
	position: relative;
	width: 100%;
}

.place_result {
	position: absolute;
	width: 100%;
}

.place_result a {
	display: block;
	padding: 10px 15px;
	font-size: 13px;
	line-height: 1.8;
}

.place_result i {
	margin-right: 10px;
	color: #28a745;
}

.search_form .place_result {
	border: 1px solid #fff;
	background: rgba(0,0,0,.9);
}

.search_form .place_result a {
	color: #fff;
}

.search_form .place_result a:hover {
	background-color: #6c757d;
}

.car_booking .place_result {
	border: 1px solid #ccc;
	background-color: #fff;
}

.car_booking .place_result a {
	color: #333;
}

.car_booking .place_result a:hover {
	background-color: #eee;
}

.section h2 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}

.section.top_car, .section.latest_car {
	padding: 50px 0;
}

.owl-carousel.cars-owl-carousel .item{
	display: block;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
  }

  .owl-theme .owl-controls .owl-page span {
    width: 7px;
    height: 7px;
	margin: 5px 3px;
  }
  .section .owl-theme .owl-controls .owl-buttons div {
	padding: 5px 9px;
  }

  .section .owl-theme .owl-buttons i{
	margin-top: 5px;
  }

  /*To move navigation buttons outside use these settings:*/

  .section .owl-theme .owl-controls .owl-buttons div {
	position: absolute;
  }
  .section .carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 17px;
    height: 16px;
    background: no-repeat 50%/100% 100%;
	}
  .section .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
  }
  
  .section .carousel-control-next-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
  }

  .section .owl-theme .owl-controls .owl-buttons .owl-prev{
	left: -120px;
	top: 30%; 
	background: rgba(0,160,80,.8);
	opacity: 1;
  }

  .section .owl-theme .owl-controls .owl-buttons .owl-next{
	right: -120px;
	top: 30%;
	background: rgba(0,160,80,.8);
	opacity: 1;
  }

.section .owl-carousel .owl-item img{
	width: 100%;
  }

  .section .owl-carousel a {
	display: block;
}

.section .owl-carousel h3 {
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
}
.section .owl-carousel .car-item-image{
	position: relative;
	margin-bottom: 20px;
}

.section .owl-carousel .desc-car-item{
	padding: 0;
}

.section .owl-carousel .car-item-image .car-price {
	position: absolute;
	right: 0px;
    bottom: 0px;
	font-weight: bold;
	color: #fff;
	background-color: #28a745;
	padding: 4px 12px;
}

.section .owl-carousel .desc-car{
	padding: 10px 0;
}

.car_content {
	width: 60%;
	float: left;
	padding-right: 25px;
}

.car_sidebar {
	width: 40%;
	float: right;
	/*margin-top: 40px;*/
	margin-bottom: 80px;
}

.car_title {
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	margin: 30px 0 20px 0;
}

.car_info {
	display: flex;
	/*width: 100%;*/
	padding: 40px 0;
	font-size: 16px;
	color: #6c757d;
}

.car_info ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.car_info ul li {
	width: 50%;
	margin-bottom: 15px;
}

.car_booking {
	padding: 15px 45px;
	/*border-radius: 15px;*/
	background-color: #f5f5f5;
	box-shadow: 0 1px 6px rgba(0,0,0,.3);
}

.car_booking .price h3 {
	text-align: center;
	color: #28a745;
	font-weight: bold;
	font-size: 36px;
}

.car_booking .price span {
	font-size: 13px;
	color: #6c757d;
}

.car_booking .datetime {
	width: 100%;

}

.car_booking .datetime span.date {
	width: 60%;
	text-align: left;
	background-color: #fff;
	font-size: 14px;
	cursor: pointer;
}

.car_booking .datetime .date, .car_booking .datetime .time, .car_booking .address {
	font-size: 14px;
}

.form-control:focus {
	border-color: #ccc;
	box-shadow: none;
}

.car_booking .form-group {
	margin-bottom: 20px;
}

.car_booking .form-group .error {
	margin-top: 10px;
}

.car_booking label {
	margin-bottom: 10px;
}

.bill_wrap .panel-body {
	padding-left: 20px;
	padding-right: 20px;
}

.car_bill .group {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	line-height: 30px;
}

.car_bill .group:first-child {
	padding-top: 0;
}

.car_bill .group p {
	margin: 0;
}

.car_bill .group.line {
	border-top: 1px solid #ccc;
	padding-top: 5px;
	margin-top: 5px;
}

.group .days, .group .sum_amount {
	font-weight: bold;
}

.car_booking button {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

.form_container {
	max-width: 420px;
	margin: 0 auto;
}

#confirmBookingModal .form_container {
	max-width: 770px;
    margin: 0 auto 20px
}

.form_container input {
	font-size: 14px;
	box-shadow: none;
}

.form_container .form-group {
	margin-bottom: 20px;
}

.form_container .input-group input {
	border-left: none;
	padding-left: 6px;
}

.form_container .input-group-addon {
	background-color: unset;
}

.form_container .input-group-addon:first-child {
	padding-right: 6px;
}

.form_container img {
	max-width: 100%;
}

#signup_form {
	padding: 60px 0 80px 0;
}

#login_form {
	padding-bottom: 20px;
}

#bookingModal .form_container {
	max-width: 770px;
	margin: 0 auto 20px;
}

#bookingModal h4 {
	text-transform: uppercase;
}

#bookingModal label {
	margin-bottom: 10px;
}

#bookingModal hr {
	margin-top: 10px;
}

#bookingModal .group {
	display: flex;
	justify-content: space-between;
	/*margin-bottom: 30px;*/
}

.form_container h2 {
	margin-top: 0;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 40px;
}

.similar-wrap {
	clear: both;
	margin-bottom: 60px;
	margin-top: 20px;
}

.similar-wrap h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: left;
	text-transform: uppercase;
}

.footer {
	background-color: #141414;
	color: #fff;
	font-size: 16px;
}

.footer .container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer h4 {
	margin-bottom: 30px;
}

.footer ul {
	list-style-type: none;
	padding: 0;
}

.footer ul li {
	padding: 5px 0;
}

.footer .copyright {
	text-align: center;
	padding-top: 30px;
}

.modal-header {
	border-bottom: none;
}

.vt_404 {
	min-height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.m-b-lg {
	margin-bottom: 30px;
}

#owl-album_car_detail .owl-controls .owl-buttons .owl-prev{
	left: 10px;
	background: rgba(0,0,0,0);
  }

#owl-album_car_detail .owl-controls .owl-buttons .owl-next{
	right: 10px;
	background: rgba(0,0,0,0);
}

.content-detail .car_info {
    padding: 40px 0;
    font-size: 16px;
}

.content-detail .car_info .group {
    display: flex;
    margin-bottom: 20px;
	width: 100%;
	align-items: flex-start;
    flex-wrap: wrap;
}

.content-detail .car_info .col_title {
    width: 25%;
    font-weight: bold;
    text-transform: uppercase;
    color: #6c757d;
}

.content-detail .car_info .col_content {
    width: 75%;
}
.bg-gray {
    background-color: #e8eaef;
}

.result-header {
	width: 100%;
    background: #fff;
    position: relative;
	z-index: 10;
	padding: 10px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.3)
}

.result-header .tab-mode{
	width: 30%;
    padding: 0px 30px;
}
.result-header .tab-mode p{
	font-size: 18px;
    color: #00a550;
    font-weight: 600;
    height: 40px;
    margin: 0;
    line-height: 40px;
}
.result-header .tab-mode p i{
	margin-right: 5px;
}

.sidebar-result{
	height: calc(100vh - 120px);
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.3)
}

.sidebar-result .scroll-inner{
	height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 30px 35px;
}
.content-result .col-md-8 {
	padding: 0;
}
.list-result li {
    float: left;
	margin-bottom: 30px;
}

.list-result ul {
    padding: 0;
}

.list-result .car-item-image img{
	width: 100%;
}

.list-result .car-item-image{
	margin-bottom: 20px;
}

.list-result .car-item{
	background-color: #fff;
    padding: 0;
    -webkit-transition: all .35s cubic-bezier(.7,0,.3,1);
    transition: all .35s cubic-bezier(.7,0,.3,1);
	box-shadow: 0 13px 34px 0 rgba(0,0,0,.1);
}

.car-item .desc-car-item {
    position: relative;
	padding: 0 15px 15px;
	text-align: left;
}

.car-item .desc-car-item .car-price{
    right: 20px;
    color: #67737f;
    font-size: 15px;
    font-weight: 600;
    text-align: right;
}

.list-result a{
	text-decoration: none;
	color: #141414
}

.car-item .desc-car-item h3 {
    margin-bottom: 10px;
    margin-top: 3px;
    color: #141414;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	word-wrap: normal;
}

.desc-car-item .location p i{
	margin-right: 5px;
}

.sidebar-result .slstitle{
	margin-bottom: 10px;
    color: #141414;
    font-size: 15px;
    font-weight: 600;
}

.cover-profile.new-profile {
    height: 26vw;
	background-position: right 100%;
	background-size: 100%;
}

.content-profile .desc-profile.desc-account {
    margin-bottom: .75rem;
    align-items: flex-end;
    display: flex;
}

.content-profile .desc-profile {
    width: 100%;
    flex-wrap: wrap;
}

.content-profile {
    background: #e8eaef;
    position: relative;
    align-items: center;
    justify-content: center;
}

.content-profile .desc-profile.desc-account .snippet {
    padding-top: 20px;
    margin-left: 0;
    width: 70%;
}

.content-profile .desc-profile .item-title {
    color: #141414;
    font-size: 1.875em;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: .25rem;
    position: relative;
    justify-content: flex-start;
}

.content-profile .desc-profile .item-title p{
	display: inline-block;
}
.content-profile .desc-profile .item-title a.func-edit {
    margin-left: 10px;
}

.content-profile .desc-profile .item-title a.func-edit i{
    opacity: .65;
    font-size: 20px;
}

.content-profile .desc-profile .avatar-box {
    width: 30%;
    display: flex;
}

.content-profile .desc-profile.desc-account .avatar-box {
    margin: -100px 0 30px;
    justify-content: center
}

.content-profile .desc-profile .avatar.has-edit {
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: 0 3px 4px rgba(0,0,0,.3);
}

.content-profile .desc-profile .avatar--xl {
    background: #fff;
}

.content-profile .desc-profile .avatar.has-edit .avatar-img {
    box-shadow: 0 3px 4px rgba(0,0,0,.3);
}

.content-profile .bar-line{
    width: 45px;
    height: 1px;
    background: #141414;
    margin: 0 10px;
}

.content-profile .snippet .d-flex{
	justify-content: flex-start;
	margin-bottom: 10px;
}

.content-profile .line-info .d-flex{
	width: calc(35% - 1rem);
    margin-right: 1rem;
}

.content-profile .line-info .info{
	display: flex;
    flex-direction: column;
    margin-right: 1rem;
    background: hsla(0,0%,100%,.8);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: .25rem 1rem;
    width: calc(50% - .5rem);
    align-items: center;
    min-height: 58px;
}
.content-profile .line-info .info:last-child{
	margin-right: 0;
}

.content-profile .line-info .info .label{
	color: #6e6e6e;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: .25rem;
}

.content-profile .line-info .info .ctn{
	position: relative;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.content-profile .desc-profile .information.information--acc {
    width: 100%;
    margin-left: 0;
}

.content-profile .desc-profile .inside {
    padding: 20px 0;
    background: hsla(0,0%,100%,.8);
    margin-bottom: 20px;
}

.content-profile .information .inside {
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.content-profile .desc-profile .inside ul {
    align-items: flex-start;
    text-align: center;
    display: flex;
}

.content-profile .desc-profile .inside li {
    position: relative;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-profile .desc-profile .inside li span.label {
    width: 100%;
    color: #141414;
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

.content-profile .desc-profile .inside li span.label i{
	margin-left: 10px;
	opacity: .65;
}
.content-profile .desc-profile .inside li span.ctn {
    position: relative;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

#editInfoForm{
    margin-bottom: 50px;
}
#editInfoForm .form-group{
    margin-bottom: 20px;
}

#editInfoForm .input-group{
    width: 100%;
}

#editInfoForm .input-group select{
    border-radius: 3px;
    font-size: 14px;
}

#modelEdit input.input-lg{
	height: 50px;
}

#notifiModal i.fa-exclamation-triangle{
	color: #d60c0c;
}

@media screen and (max-width: 1399px) {
	.section .owl-theme .owl-controls .owl-buttons .owl-prev{
		left: -55px;
	  }
	
	  .section .owl-theme .owl-controls .owl-buttons .owl-next{
		right: -55px;
	  }
}

@media screen and (max-width: 1199px) {
	.content-profile .snippet .d-flex{
		width: calc(35% - .5rem);
		margin-right: .5rem;
	}

	.content-profile .line-info .info{
		width: calc(50% - .25rem);
		margin-right: .5rem;
		min-height: 54px;
	}
	.section.banner .cover{
		height: 708px;
	}
	.search_form label{
		font-size: 13px;
		font-weight: 600;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 991px) {
	.cover-profile.new-profile {
		height: 44vw;
	}
	.content-profile .desc-profile.desc-account .snippet{
		width: 75%;
		margin-left: 0;
		padding-top: 15px;
	}
	.content-profile .snippet .d-flex{
		width: 100%;
		margin-right: 0;
	}

	.content-profile .line-info .info{
		width: auto;
		margin-right: .75rem;
		padding: .25rem 1.5rem;
	}
	.content-profile .desc-profile .inside li{
		flex-flow: row wrap;
		width: 100%;
	}

	.content-profile .desc-profile .inside ul{
		flex-wrap: wrap;
		padding-left: 10px;
	}

	.content-profile .desc-profile .inside li span.label{
		width: 25%;
		text-align: left;
	}

	.content-profile .desc-profile .inside li span.ctn{
		width: 75%;
		text-align: left;
	}

	.content-profile .desc-profile .information .label a.func-edit {
		position: absolute;
		right: 10px;
		z-index: 10;
	}
	.section.banner .cover{
		height: 664px;
	}
	.section h2{
		margin-bottom: 20px;
	}
	.section.top_car, .section.latest_car {
		padding: 30px 0;
	}
}

@media screen and (max-width: 767px) {
	.content-profile .desc-profile.desc-account .snippet{
		width: 100%;
	}

	.content-profile .line-info .info{
		width: 50%;
		padding: .25rem .5rem;
		min-height: 56px;
	}
	.search_form{
		flex-wrap: wrap;
		align-items: flex-start;
		margin-bottom: 3rem;
		padding: 20px;
		border-radius: 5px;
		flex-direction: column;
    	align-items: stretch;
	}
	.search_form .group {
		padding-left: 0 !important;
		margin-bottom: 1.5rem;
		border-bottom: 1px solid #fff;
		font-size: 15px;
	}
	.search_form .group::after {
		display: none;
	}
	.section.banner .cover{
		height: 600px;
	}
	.search_form .sub_group {
		width: 100%;
		padding-left: 0;
		margin-top: 1rem;
		flex: auto;
	}
	.search_form .btn_search{
		width: 100%;
		border-radius: 3px;
		height: auto;
		padding: .3rem .75rem;
	}
	.search_form .sub_group .btn_search>span{
		color: #00a550;
		font-weight: 600;
		padding-left: 5px;
		display: inline-block;
		font-size: 15px;
	}
	.section.banner .content {
		width: 100%;
	}
	.section .owl-theme .owl-controls .owl-buttons {
		display: none;
	}
	.section.banner .content h1 {
		font-size: 30px;
		font-weight: 700;
	}
	.section.banner .wrap {
		top: 45%;
	}
	.content-detail .car_info .col_title {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.content-detail .car_info .col_content {
		width: 100%;
	}
	.content-detail .car_info {
		padding: 40px 0 20px;
		font-size: 16px;
	}

	.content-detail .car_booking {
		padding: 15px 10px;
	}
	
}

@media screen and (max-width: 480px) {
	.content-profile .desc-profile.desc-account .avatar-box {
		margin-top: -60px;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.content-profile .desc-profile.desc-account .snippet{
		width: 100%;
		padding-top: 10px;
	}

	.content-profile .line-info .info{
		padding: .25rem 1rem;
		margin-right: .75rem;
	}

	.content-profile .desc-profile .inside li span.label{
		font-size: 14px;
	}

	.content-profile .desc-profile .inside li span.ctn{
		font-size: 14px;
		word-break: break-word;
	}
	.content-detail .car_info ul li {
		width: 100%;
	}
}